* {
    /* border: solid 5px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

html, body {
    border: none;
    background-color: #8f8f8f;
}

.container {
    border-color: hotpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: flex-start;
    height: 100vh;
}

.toolbarContainer {
    border-color: cyan;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* flex: 1 1 auto; */
}

.colorPicker {
    flex: 1 0 auto;
    -webkit-appearance: none;
    border: none;
}

.sliderContainer {
    border-color: orange;
    flex: 1 1 auto;
    height: fit-content;
}

#gridSlider {
    background: #4f4f4f;
    appearance: none;
    width: 100%;
    height: 25px;
    outline: none;
}

#gridSliderValue {
    font-family: 'Roboto';
    font-weight: bold;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 50px;
    background-color: rgb(255, 0, 170);
    cursor: pointer;
}

.gridContainer{
    border-color: limegreen;
    background-color: azure;
    flex: 10 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    width: 100%;
    max-width: 960px;
    max-height: 960px;
}

.gridDiv {
    border:solid 1px rgba(255, 0, 170, 0.075);
    aspect-ratio: 1;
}
