* {
    /* border: solid 5px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    border-color: gold;
    background-color: #8f8f8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    outline: solid 1px rgba(0, 0, 0, 1);
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 960px;
    max-height: 1160px;
}

.toolbarContainer {
    border-color: white;
    background-color: rgb(128, 128, 128);
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.pickerContainer {
    outline: solid 1px black;
    display: flex;
    flex-direction: column;
}

.colorSwatch {
    border-bottom: solid 1px black;
    background-color: rgb(128, 128, 128);
    flex: 1 0 auto;
    height: 50px;
    width: auto;
}

.colorSliderContainer {
    /* padding: 3px; */
    /* outline: solid 1px black; */
    display: flex;
    flex-direction: row;
}

.slider {
    outline: solid 1px rgb(0, 0, 0);
    background: #4f4f4f;
    height: 20px;
    width: 100%;
    appearance: none;
}

#redSlider::-webkit-slider-thumb {
    background-color:rgb(255, 34, 34);
}
#greenSlider::-webkit-slider-thumb {
    background-color:rgb(0, 168, 22);
}
#blueSlider::-webkit-slider-thumb {
    background-color:rgb(0, 119, 255);
}

#redSlider, #greenSlider {
    border-bottom: solid 1px black;
}

.rightSideContainer {
    border-color: greenyellow;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.gridSliderContainer {
    border-color: orange;
    flex: 1 1 auto;
    height: fit-content;
}

#gridSlider {
    border-left: solid 1px black;
    height: 25px;
}

#gridSliderText {
    border: rgb(236, 218, 50);
    font-family: 'Bebas Neue', 'Roboto', cursive;
    font-size: 1.35pc;
    padding-left: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 50px;
    width: 10px;
    background-color: rgb(255, 0, 170);
    cursor: pointer;
}

.gridContainer{
    outline: solid 1px rgba(0, 0, 0, 1);
    background-color: rgb(206, 206, 206);
    flex: 10 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, auto));
    width: 100%;
    max-width: 960px;
    max-height: 960px;
}

.gridDiv {
    outline:solid 1px rgba(228, 228, 228, 0.137);
    background-color: rgb(206, 206, 206);
    aspect-ratio: 1;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    outline: solid 1px black;
    font-family: 'Bebas Neue', 'Roboto', cursive;
    font-size: 1.5pc;
    padding-left: 3px;
    padding-right: 3px;
}